.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 28px 0 112px;

  .image-about-container {
    display: flex;
    .image-container, .about-container {
      margin: 12px;
      img {
        width: 100%;
        margin: 12px;
      }
    }

    .image-container {
      width: 40%;
    }

    .about-container {
      width: 60%;
    }
  }

  h1 {
    font-size: 3em;
    padding-bottom: 12px;
  }

  p {
    font-size: 2em;
    text-align: left;
    line-height: 1.6em;
    margin: 0.6em 0;
    strong {
      color: var(--color_strong_light);
    }
  }
}

@media (max-width: 768px){
  .bio-container {

    .image-about-container {
      flex-direction: column;
      align-items: center;

      .about-container {
        width: 100%;
      }
    }
    padding: 20px 0 64px;
    h1 {
      font-size: 2em !important;
    }
  
    p {
      font-size: 1.5em !important;
    }
  }
}

