.hard-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px auto 112px;
  width: 90%;

  h1 {
    font-size: 3em;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      font-size: 2em;
      list-style-type: none;
      margin: 8px;
      width: 320px;

      .title-hadr-skill {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 4px 0;
      }

      iframe {
        width: 312px;
        height: 176px;
        background-color: #000000;
      }
    }
  }
}
