*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  margin:0; 
  padding:0;
  vertical-align:baseline;
  position: relative;
}

:root {
  --color_font_light: #201e50;
  --color_font_button_light: #242424;
  --background_light: #F2F2F2;
  --background_button_light: #6C91C2;
}
