.soft-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 28px 0 112px;
  width: 90%;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      font-size: 2em;
      list-style-type: none;
      margin: 8px;
      width: 320px;

      .title-soft-skill {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 4px 0;
      }

      iframe {
        width: 312px;
        height: 176px;
        background-color: #000000;
      }
    }
  }
}

@media (max-width: 768px){
  .soft-skill-container {
    padding: 20px 0 64px;
    
  }
}

@media (max-width: 375px){
  .soft-skill-container {
    ul {
      li {
        width: 300px;
      }
      iframe {
        width: 292px !important;
        height: 164px !important;
      }
    }
  }
}